body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;

    background: rgb(233, 166, 67);

    font-weight: bold
}

/* .test {
    background: green
    ctrl / = comment
} */
/* inside <p class="test"> for highlight specific paragraphs */